@media (min-width: 768px) and (max-width: 1024px) {
    /* HEADER */
    #apple-logo {
        margin-left: 15px;
    }
    #header {
        justify-content: space-between;
    }
    .nav-text {
        display: none;
    }
    #menu {
        display: flex;
        margin-right: 15px;
    }




    /* MAIN  */
    .piccontainer {
        height: 650px;
    }
    #mainpicture {
        background-size: cover;
        background-image: url(./pictures/iphone-16-pro-tab.png);
    }
    #mainpicture2 {
        background-size: cover;
        background-image: url(./pictures/iphone-16-tab.png);
    }
    #container {
        height: 1974px;
        .piccontainer#mainpicture3 {
        display: none;
    }
    }

    .piccontainer#ipad-hidden {
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
    
    }




    /* PRODUCT */
    .container {
        margin-top: 12px;
        margin-left: 12px;
        margin-right: 12px;
    }
    .holder#business {
        display: flex;
    }
    .holder#ipad {
        display: none;
    }
    .logo-holder#bus {
        gap: 0px;
        flex-direction: column;

    }
    .product-subtext#space {
        gap: 0px;
    }
    .product-subtext.space#space {
        height: 18px;
    }
    #business {
        background-image: url(./pictures/small-business.png);
    }
    .holder#trade{
        display: none;
    }
    .airpods-subtext {
        margin-top: 4px;
        margin-bottom: 6px;
    }
    #airpod {
        background-image: url(./pictures/airpod-tab.png);
    }
    #watch {
        background-size: cover;
        background-image: url(./pictures/watch-tab.png);
    }
    .holder.hidden#trade{
    display: flex;
    }
    .holder#card {
        display: none;
    }
    .learn-more-btn#deal {
        width: 126px;
    }
    .btn-holder.solo {
        margin-top: 20px;
    }
    .learn-more-btn#solo {
        width: 107px;
    }
    .learn-more {
        font-size: 14px;
    }
    #carrier {
        background-image: url(./pictures/carrier.png);
    }
    .product-title {
        font-size: 30px;
    }
    .title-btn-holder#carrier-title{
    width: 314px;
    height: 152px;
    display: block;
    bottom: 42px;
}


}